@import url("mod.css");
@import url("ardh.css");

.life-at-video {
  height: 430px;
}

.banner-item-wrap {
  height: 100%;
}

.shardha-training {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  padding: 50px;
}

.feature-inner {
  margin-top: 160px;
}

.back-to-ca {
  margin-top: 100px;
}

/* ================================================================================== Header  */
.nav-menu-social a {
  color: #210d7d;
  font-size: 20px;
  line-height: 1;
}

header.navbar-are {
  position: relative;
  z-index: 999;
}

/* ----------------- Menu  */
.menu-col-list {
  column-count: 4;
  column-gap: 20px;
  /* Adjust as needed */
  column-rule: 1px solid #a3a3a3;
}

.menu-col-item {
  box-sizing: border-box;
  margin: 0;
  /* Reset margin */
  break-inside: avoid;
  /* Prevent breaking inside the columns */
  padding-left: 20px;
}

.menu-col-item > ul {
  list-style: none;
}

.menu-col-list.mobile-menu-list {
  column-count: 2;
  padding: 0 10px;
}

.menu-col-list.mobile-menu-list .menu-col-item {
  padding: 0 5px;
}

.menu-col-list.mobile-menu-list .menu-col-item h6 {
  font-size: 16px;
}

.menu-col-list.mobile-menu-list .menu-col-item ul {
  padding-left: 10px;
}

.menu-col-list.mobile-menu-list .menu-col-item ul li a {
  font-size: 14px;
}

.popup-menu {
  overflow-x: hidden;
}

/* ============================================================================================================== Popup  */

.popup-menu-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  padding: 15px;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.admsn-popup {
  background-color: #1c077b;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 100%;
  max-width: 800px;
}

.admsn-popup .form-title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-policy {
  margin-bottom: 0 !important;
}

.poup-close-btn {
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
  outline: none;
  padding: 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.poup-close-btn:hover {
  color: #1c077b;
  background-color: #fff;
  border-color: #1c077b;
}

.admsn-popup .form-title-area h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.admsn-form-wrap .row:after {
  display: none;
}

.form-input-wrap {
  width: 100%;
}

.form-input {
  margin-bottom: 15px;
}

.admsn-form-wrap #contactNumber {
  margin-bottom: 0;
}

.form-input label {
  font-size: 16px;
  line-height: 1.3;
}

.form-input input,
.form-input select,
.form-input textarea {
  width: 100%;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  border: 2px solid #fff;
  background-color: transparent;
}


.admission-query-form-a1 > .form-input input,
.admission-query-form-a1 > .form-input select,
.admission-query-form-a1 > .form-input textarea{
  color: #000;
}

.form-input input,
.form-input select {
  height: 54px;
  padding: 0 24px;
  border-radius: 99px;
}

.form-input select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6l5 5 5-5 2 1-7 7-7-7 2-1z' fill='%23fff'/%3E%3C/svg%3E")
    no-repeat right 20px top 50%;
}

.form-input select option {
  color: #1c077b;
}

.form-input textarea {
  padding: 20px 24px;
  min-height: 120px;
  border-radius: 20px;
}

.checkbox-input .checkbox-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
}

.width-content {
  width: 56%;
}

.checkbox-input .checkbox-wrap input {
  height: 20px;
  width: 20px;
  margin: 0;
}

.form-req {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  margin-top: 20px;
}

.submit-btn {
  width: 100%;
  font-size: 20px;
  border: 2px solid #ead1ee;
  border-radius: 20px;
  background-color: #ead1ee;
  color: #210d7d;
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
  color: #ead1ee;
  background-color: #210d7d;
}

.admsn-form-wrap .submit-wrap {
  margin-top: 34px;
}

.education-card-mobile {
  display: none;
}

.mobilehide-pedalogy {
  display: block;
}

.desktophide-pedalogy {
  display: block;
}

.founder-tabs-mobile {
  display: none;
}

/* ===============================================Career page===================== */
.job-details h1 {
  font-size: 36px;
  line-height: 1.2;
}

.job-details h2 {
  font-size: 36px;
  line-height: 1.2;
}

.job-details h3 {
  font-size: 24px;
  line-height: 1.3;
}

.job-details h4 {
  font-size: 20px;
  line-height: 1.4;
}

.job-details h5 {
  font-size: 18px;
  line-height: 1.5;
}

.job-details h6 {
  font-size: 16px;
  line-height: 1.5;
}

.job-opening-list .MuiAccordionSummary-content > h4 {
  margin: 0;
}

.job-opening-list .MuiPaper-root {
  box-shadow: none !important;
}

.job-opening-list .Mui-expanded {
  margin: 0 !important;
  min-height: 60px !important;
  align-items: center !important;
}

.job-opening-list .MuiAccordionSummary-root {
  padding: 10px 20px !important;
}

.job-opening-list .MuiAccordionDetails-root {
  padding: 20px 20px 30px 20px !important;
  background-color: #f2f2f2;
}

.job-opening-list .MuiPaper-root:before {
  display: none !important;
}

.job-opening-list .MuiPaper-root.MuiPaper-elevation {
  border-bottom: 1px solid #dbdbdb;
}

/* =============================================================================== Career Form  */
/* -------------------- form */
.def-form {
  width: 100%;
  --color_1: #2d318e;
  --color_2: #474551;
  --color_5: #eddf6f;
}

.input-wrap input,
.input-wrap select {
  width: 100%;
  height: 50px;
  padding: 0px 24px;
  border-radius: 99px;
  border: 1px solid var(--color_1);
  background-color: transparent;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
}

.input-wrap select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  font-weight: 600;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6l5 5 5-5 2 1-7 7-7-7 2-1z' fill='%232d318e'/%3E%3C/svg%3E")
    no-repeat right 20px top 50%;
}

.input-wrap select[disabled] {
  opacity: 0.5;
}

.input-wrap textarea {
  width: 100%;
  height: 120px;
  padding: 20px 24px;
  margin-bottom: -7px;
  border-radius: 20px;
  border: 1px solid var(--color_1);
  background-color: transparent;
  font-weight: 600;
}

.input-wrap input::placeholder,
.input-wrap select::placeholder,
.input-wrap textarea::placeholder {
  color: var(--color_1);
}

.input-wrap input::placeholder,
.input-wrap textarea::placeholder {
  color: #7e7e8d;
}

.input-wrap.password {
  position: relative;
}

.input-wrap.password > span {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: block;
  color: var(--color_2);
  cursor: pointer;
}

.file-input-label {
  height: 50px;
  border-radius: 99px;
  border: 1px solid var(--color_1);
}

.submit-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.submit-wrap:after {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid;
  color: var(--color_5);
  border-radius: 50%;
  border-top-color: transparent;
  position: absolute;
  animation: loader 1.2s linear infinite;
  display: none;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.submit-wrap.process > input.form-submit {
  filter: opacity(0.3);
  pointer-events: none;
}

.submit-wrap.process:after {
  display: block;
}

.error-message {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  color: #ff7272;
  margin-top: 8px;
}

.from-inn.p17s3-inn-f2 {
  margin-top: 30px;
}

/* ----------------- CheckBox  */
.checkbox-wrap label .rounded-checkbox {
  width: 25px;
  height: 25px;
  border: 2px solid #2d318d;
  border-radius: 50%;
  position: relative;
}

.checkbox-wrap label .rounded-checkbox:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #2d318d;
  border-left: 3px solid #2d318d;
  top: 6px;
  left: 10px;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  transition: all ease-out 200ms;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-wrap.checked label .rounded-checkbox:after {
  opacity: 1;
  height: 10px;
  width: 26px;
}

.from-box.p17s3-from {
  background-color: #f6f2f3;
  padding: 40px 36px;
  border-radius: 10px;
}

.carr-submit-btn {
  min-height: 50px;
  padding: 0 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  outline: none;
  background-color: #2d318d;
  color: #fff;
  border-radius: 99px;
  transition: all 0.3s ease-in-out;
}

.carr-submit-btn:hover {
  color: #2d318d;
  background-color: #fff;
}

.mobile-hide-result-chart {
  display: none;
}

/* .desktop-hide-result-chart{
  display: block;
} */
.result2-chart {
  display: flex;
  gap: 20px;
}

.pub-sec {
  margin-top: 150px;
}

/* ==================================== Only Desktop  */
@media only screen and (min-width: 767px) {
  .feature-contet-list.other-page-x1 > .row:nth-child(even) {
    flex-direction: row-reverse !important;
  }
}

/* =========================== mobile responsive code================ */
@media only screen and (max-width: 768px) {
  .education-card-mobile {
    display: block;
  }

  .mobilehide-pedalogy {
    display: none;
  }

  .desktophide-pedalogy {
    display: none;
  }

  .title-hide {
    display: none;
  }

  .mobilehide-result {
    display: none;
  }

  .width-content {
    width: 100%;
  }

  /* .mobilehide-publication{
    display: none;
  } */
  .pub-sec {
    margin-top: 0px;
  }

  .mobilehide-international {
    display: none;
  }

  .mobile-hide-result-chart {
    display: block;
  }

  .desktop-hide-result-chart {
    display: none;
  }

  .result2-chart {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .toggle-btn {
    top: 22px !important;
  }

  .education-card {
    display: none;
  }

  .mobilehide-founder {
    display: none;
  }

  .shardha-training {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 20px;
  }

  .feature-inner {
    margin-top: 0px;
  }

  /* =======popup style=========== */
  .admsn-popup {
    padding: 15px;
  }

  .close-btn-menu {
    margin-right: 10px;
  }

  .popup-menu {
    padding: 10px;
  }

  .form-input input,
  .form-input select {
    height: 45px;
    padding: 0 24px;
    border-radius: 99px;
  }

  .dropbtn1 {
    padding-left: 0px !important;
    background: #210d7d;
    padding: 8px 2px 3px 0px;
    font-size: 9px;
    border-radius: 50px;
    width: 135px;
  }

  .close-btn-menu {
    padding-right: 0px;
    padding-left: 0% !important;
    font-size: 38px;
    background: none;
    border: none;
  }

  .popup-card-menu {
    margin-top: 55px;
    padding: 0px 0px 0px 0px;
  }

  .logopopupy {
    width: 100%;
    z-index: 999;
    /* position: relative; */
  }

  .admsn-popup .form-title-area h4 {
    font-size: 18px;
  }

  .admsn-popup {
    height: calc(100vh - 100px);
    overflow-y: auto;
  }

  .admission {
    position: static;
    margin: 0 -15px 20px -15px;
  }

  .navbar-area .nav-container {
    padding-top: 4px;
  }

  .para_with_image_art_of_living {
    padding: 10px;
    margin-left: 0px;
  }

  .button_visit_website_ALF {
    margin-left: 104px;
    margin-top: 31rem;
  }

  .grid-data-mobile {
    display: grid;
    grid-auto-columns: calc(100% - 4rem);
    grid-auto-flow: column;
    grid-gap: 0px;
    overflow-x: auto;
  }

  .mobile-overlap {
    width: 100%;
  }

  .life-at-video {
    height: auto;
  }

  /* ============================================================================================= Home Mobile Banner  */
  .header-slider.header-slider2 {
    margin-bottom: 24px;
  }

  .header-slider .home-banner-bg-image {
    background: none !important;
  }

  .home-area,
  .header-height,
  .home-area.home-v2 .header-bg .header-inner-wrap {
    height: auto;
  }

  .home-area.home-v2 .header-slider .header-bg::before {
    display: none;
  }

  .header-bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
  }

  .home-area.home-v2 .header-bg .header-inner-wrap .header-inner {
    border-radius: 0;
  }

  .home-area.home-v2 .header-sm-slider img {
    object-fit: cover;
  }

  .home-area.home-v2 .header-bottom {
    position: static;
  }

  .home-area.home-v2 .header-bg .header-inner-wrap .header-inner .title {
    font-size: 20px !important;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .home-area.home-v2 .header-bg .header-inner-wrap .header-inner .sub-title {
    font-size: 14px !important;
    line-height: 1.5 !important;
  }

  .mob-bann-img img {
    height: 60vw;
  }

  .home-area.home-v2 .slick-track {
    display: flex !important;
  }

  .home-area.home-v2 .slick-slide {
    height: auto;
  }

  .home-area.home-v2 .slick-slide > div,
  .home-area.home-v2 .slick-slide > div > div,
  .home-area.home-v2 .slick-slide > div > div .container,
  .home-area.home-v2 .slick-slide > div > div .container .header-height,
  .home-area.home-v2 .banner-item-wrap {
    height: 100%;
  }

  .home-area.home-v2 .banner-item-wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
  }

  /* ===================================== Mobile Home Banner  */
  .home-area.home-v2 .header-bg .header-inner-wrap .header-inner {
    margin-right: 0;
    width: 100%;
  }

  /* ===================================== Mobile Nav  */
  .navbar-area .logo {
    align-items: center;
  }

  a.logo-1 {
    display: block;
  }

  a.logo-1 img.mobileLogo {
    width: auto;
    height: 90px;
  }

  .mobileDropDown {
    margin-top: 0;
    margin-left: -40px;
    padding-right: 20px;
    padding-left: 50px !important;
    display: flex;
    align-items: center;
    line-height: 1;
    height: 50px;
    border-radius: 99px;
  }

  .mobileDropDown .dropdown-content {
    background: #210d7d;
    margin: 0;
    left: 44px;
    top: calc(100% + 2px);
    height: auto;
    width: auto !important;
    padding: 5px 0 5px 0;
    border-radius: 10px;
  }

  .mobileDropDown .dropdown-content a {
    display: block;
    line-height: 1;
    padding: 10px 20px;
    height: auto;
    border-radius: 0;
    background: transparent;
  }

  .dropbtnMobile {
    padding-left: 0;
  }
}

/* ============================================================================================= Home Banner Desktop  */
@media only screen and (min-width: 767px) {
  .home-area {
    min-height: calc(100vh - 80px);
  }

  .header-bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 680px;
  }
}

/* ============================================================================================= School Timing */
.school-content > h1 {
  font-size: 44px;
  margin-top: 0%;
  line-height: 180px;
}

.school-content > figure > table {
  overflow: auto;
}

/* ==========================================================================Home Auto Popup  */
.home-popup-slider .slick-track {
  display: flex !important;
}

.home-popup-slider .slick-slide {
  height: inherit !important;
}
.home-auto-popup .popup-block {
  max-height: auto;
  overflow-x: hidden;
}

.home-auto-popup .popup-content {
  --popup_padding: 0;
}

.home-popup-slider {
  width: 100%;
  height: 100%;
}

.home-popup-slider .slick-slide,
.home-popup-slider .slick-slide > div,
.home-popup-slider .slick-slide > div > div,
.home-popup-slider .slick-slide > div > div > .slider-item {
  height: 100%;
}

.home-popup-slider .slider-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-popup-slider .slick-arrow {
  z-index: 999;
  height: auto;
  width: auto;
}

.home-popup-slider .slick-arrow::before {
  font-size: 28px !important;
}

.home-popup-slider .slick-arrow.slick-prev {
  left: 10px !important;
}

.home-popup-slider .slick-arrow.slick-next {
  right: 10px !important;
}

@media screen and (max-width: 992px) {
  .top-section4.mobilehide {
    display: none !important;
  }
}

/* ------------------------------------------------------------------------awards-and-achievments */
.btn-disabled {
  pointer-events: none !important;
  opacity: 0.5;
}
section.award-s1 {
  position: relative;
  padding-top: 240px;
  padding-bottom: 60px;
}

section.award-s1 h2 {
  font-size: 44px;
  line-height: 1.1;
}

.award-s1 select {
  background-color: #f6f2f4;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-right: 10px solid transparent;
  cursor: pointer;
}

.award-s1 .award-data-s1 {
  position: relative;
  padding-bottom: 40px;
}
.award-s1 .award-data-s1 img {
  border: 1px solid black;
  width: 100%;
  height: 20vw;
  box-shadow: 5px 5px 0px #1c077b;
}

.award-s1 button.close-button-custom {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #4225c6;
  color: #fff;
}

.award-s1 button.page-btn-d2:hover {
  background-color: #4225c6;
  color: #fff;
}

.award-s1 button.close-button-custom:hover {
  background-color: #e52a2a;
}

@media only screen and (max-width: 600px) {
  section.award-s1 {
    padding-top: 40px;
  }

  section.award-s1 h2 {
    font-size: 40px;
  }

  .award-s1 .award-data-s1 div {
    width: 100%;
  }

  .award-s1 .award-data-s1 img {
    height: 60vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  section.award-s1 {
    padding-top: 120px;
  }

  .award-data-s1 h6 {
    font-size: 14px;
  }
  .award-data-s1 p {
    font-size: 10px;
    line-height: 1.2;
  }
}

/* ----------------------------award-popup */
.modal-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 9999999;
}
.modal-backdrop-custom.active {
  opacity: 1;
  visibility: visible;
}
.modal-content-custom h2 {
  font-size: 30px !important;
}
.modal-backdrop-custom .modal-content-custom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.5s ease-in-out;
  max-width: 600px;
  width: calc(100% - 30px);
}
.modal-backdrop-custom .modal-content-custom .modal-content-inner {
  padding: 14px 20px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
}

.modal-backdrop-custom.active .modal-content-custom {
  top: 50%;
  transform: translate(-50%, -50%);
  transition-delay: 100ms;
}

.close-button-custom {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.award-image-custom {
  height: 26vw;
  width: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

/* ---------------------------------------feature-inner page */

.feature-cont-a4 {
  padding-top: 150px;
}

.feature-cont-a4 h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 600;
}

.feature-cont-a4 p {
  font-size: 20px;
  font-weight: 500;
  color: black;
  line-height: 1.5;
}

/* --------------------------------------------------------- */

.sub-link-wrapper {
  position: relative;
}

.sub-menu-2 {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  padding: 0px;
  margin: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  width: 200px;
  background-color: white;
  opacity: 0;
}

.sub-link-wrapper a.sub-link{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.sub-link-wrapper:hover .sub-menu-2{
  opacity: 1;
  visibility: visible;
}

.sub-menu-2  > li > a:hover {
  color: #fff !important;
}



@media only screen and (max-width: 600px) {
  .nav-item #uncontrolled-tab-example-tab-Facebook{
  display: none;
  }

}